<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato&display=swap">
    <link rel="stylesheet" href="css/stylebonus.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Todoolean con Vue bonus</title>
  </head>
  <body>

    <div id="app">

      <!-- Logo -->
      <img src="https://www.boolean.careers/images/misc/logo.png" alt="">

      <!-- Input new element in ToDo list -->
      <div>
        <input v-model="inputElement" placeholder="Aggiungi nuovo ToDo" @keypress.enter="addElement">
        <button type="button" @click="addElement">AGGIUNGI</button>
      </div>

      <!-- Lista vuota -->
      <div id="free" :class="[{'none': arrayElementToDo.length > 0}]">
        La tua lista ToDo è vuota
      </div>

      <!-- ToDo list -->
      <div>
        <div :class="['element-to-do', {'active-background':arrayElementToDo[i].classActive}, {'deleted': arrayElementToDo[i].isDeleted}]" v-for="(element,i) in arrayElementToDo">

          <!-- Element content -->
          <div :class="{'blue': arrayElementToDo[i].classActive && arrayElementToDo[i].doble}">
            {{arrayElementToDo[i].name}}
          </div>

          <!-- Double element alert -->
          <div class="doble" v-if="arrayElementToDo[i].doble && i>0">
            <i :class="['fas fa-exclamation-circle', {'blue': arrayElementToDo[i].classActive}]" @click="classActiveOnOff(i)"></i>
            <!-- Alert -->
            <div :class="['alert', {'active': arrayElementToDo[i].classActive}]">
              <div>
                Attenzione
              </div>
              <div>
                Elemento già presente in lista, confermi insermento?
              </div>
              <i class="fas fa-check-circle" @click="removeDoble(i)"></i>
              <i class="fas fa-times-circle" @click="removeElement(i)"></i>
            </div>
          </div>

          <!-- Remove Element -->
          <div :class="['remove', {'active': !arrayElementToDo[i].doble || i==0}]" @click="removeElement(i)">
            <i class="fas fa-times" ></i>
          </div>

        </div>
      </div>

    </div>

    <script src="js/scriptbonus.js"></script>
  </body>
</html>
